---
/**
 *  About header to display icon and contact information
 */
import about from '../config/about.json';

---

<header class='about'>
    <div class='img-wrapper logo'>
        <img src='/icons/m.ico' alt='M Icon' loading="eager"/>
    </div>
    <article class='summary'>
        <h1 class='bold'> {about.title} </h1>
        <p>{about.description}</p>
    </article>
    <section class='info'>
        {about.items.map((item) => {
            return (
                <a href={item.url}>
                    <div class='img-wrapper'>
                        <img src={item.icon} alt={item.type + ' icon'} loading="eager"/>
                    </div>
                    <span> {item.label} </span>
                </a>
            );
        })}
    </section>
</header>