---
const { title, description, uri, github, imgUri, imgPath, stack, compact = false } = Astro.props;
---

<article class='project'>
    <a class='img-wrapper' href={uri}>
        <img src={imgUri || imgPath} alt={title + ' Image'} />
    </a>
    <div class='description'>
        <h3>
            <a class='flex flex-fit' href={uri}>
                {title}
            </a>
            {github && (
                <a class='git img-wrapper' href={github}>
                    <img src='/images/github.png' alt='Github' />
                </a>
            )}
        </h3>
        <p> {description} </p>
        <ul class={'stack-container' + (compact ? ' compact' : '')}>
            {stack.map((s: string) => (
                <label class='stack gray'>
                    {s}
                </label>
            ))}
        </ul>
    </div>
</article>